<!DOCTYPE html>

<html>

    <head>

        <meta charset="UTF-8">
        <link rel="stylesheet" href="\static\style.css">
        <title>Любимые песни</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>  
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.default.min.css"
            integrity="sha512-pTaEn+6gF1IeWv3W1+7X7eM60TFu/agjgoHmYhAfLEU8Phuf6JKiiE8YmsNC0aCgQv4192s4Vai8YZ6VNM6vyQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js"
            integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        
    </head>

    <body class="body">

        
        <div class="left-panel">

            <fieldset class="button-container">    

                <t class="button-container-title">REQUESTS</t>           
                <button class="button" id="request0">Request 1</button>
                <button class="button" id="request1">Request 2</button>
                <button class="button" id="request2">Request 3</button>
                <button class="button" id="request3">Request 4</button>
                <button class="button" id="request4">Request 5</button>
                <button class="button" id="request5">Request 6</button>
                <button class="button" id="request6">Request 7</button>
                <button class="button" id="request7">Request 8</button>

            </fieldset>

            <fieldset class="button-container">

                <t class="button-container-title">TABLES</t>           
                <button class="button" id="artistButton">Artists</button>
                <button class="button" id="bandButton">Bands</button>
                <button class="button" id="albumButton">Albums</button>
                <button class="button" id="songButton">Songs</button>
                <button class="button" id="genreButton">Genres</button>
                <button class="button" id="past_surveyButton">Past_Surveys</button>
                <button class="button" id="former_respondentButton">Former_Respondents</button>
                <button class="button" id="surveyButton">Surveys</button>
                <button class="button" id="respondentButton">Respondents</button>
                <button class="button" id="categoryButton">Categories</button>

            </fieldset>

            <fieldset class="button-container">

                <t class="button-container-title">Surveys</t>           
                <button class="button" id="mainSurveyButton">Top 5 songs</button>

            </fieldset>

            {% if user == 'admin' %}
                <fieldset class="button-container">

                    <t class="button-container-title">Admin Tools</t>           
                    <button class="button" id="mainSurveyButton">SQL Query</button>

                </fieldset>
            {% endif %}

            {% if user == 'admin' or user == 'manager' %}
                <fieldset class="button-container">

                    <t class="button-container-title">Manager Tools</t>           
                    <button class="button" id="mainSurveyButton">Add Song</button>
                    <button class="button" id="mainSurveyButton">Add Album</button>
                    <button class="button" id="mainSurveyButton">Add Band</button>

                </fieldset>
            {% endif %}

        </div>


        <div>

            <div class="table-container">  

                <t class="request-label" id="requestLabel" hidden="true">REQUEST</t>
                <t class="request-name" id="requestName" hidden="true"></t>
                <table class="table" id="requestResult"></table>
    
            </div>  

            <div class="survey-container" id="surveyContainer" style="z-index: -1">

                <t class="survey-label">SURVEY</t>
                <t class="survey-name">Top 5 songs</t>
                <fieldset class="survey-field">

                    <input type="text" class="survey-text-area" id="surveyTextArea" placeholder="Your name..."></input>
                    <input type="text" class="survey-text-area" id="surveyTextArea" placeholder="Your age..."></input>

                    <select class="survey-select" id="surveySelectGender">

                        <option value="" disabled selected hidden>Your gender</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>

                    </select>

                    <select class="survey-select" id="surveySelect0"><option value="" disabled selected hidden>Song 1</option></select>
                    <select class="survey-select" id="surveySelect1"><option value="" disabled selected hidden>Song 2</option></select>
                    <select class="survey-select" id="surveySelect2"><option value="" disabled selected hidden>Song 3</option></select>
                    <select class="survey-select" id="surveySelect3"><option value="" disabled selected hidden>Song 4</option></select>
                    <select class="survey-select" id="surveySelect4"><option value="" disabled selected hidden>Song 5</option></select>
                    
                    <button class="survey-send-button" id="surveySendButton">Send</button>

                </fieldset>

            </div>

        </div>         

        
        <script src="\static/scripts.js"></script>


    </body>

</html>